.hidden {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#button-frame {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.weekday-button {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;  
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #db1e1e;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.weekday-button.active {
    text-decoration: underline;
    background-color: #b2e1fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.weekday-button:hover, .signInButton:hover {
    scale: 1.03 ;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
.weekday-button:active, .signInButton:active {
    scale: 0.95;
    box-shadow: none;
}
#exit-button {
    padding: 8px 16px;
    font-size: 16px;
}

/* Alles zu der Titelleiste */

header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #bce4fd;
    color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; 
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
header img {
    align-items: left;
    height: 50px;
    width: 50px;
    margin-left: 50px;
    margin-right: 10px;
}
header h1 {
    display: flex;
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.brand {
    display: flex;
    align-items: center;
    margin-left: 83px;
    height: 100%;
    margin-right: auto;
    cursor: pointer;
}

/* Alles zu der Navigationbar */

li, a, .signInButton {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.nav_links li {
    display: inline-block;
    padding: 0px 25px;
}
li:active, a:active {
    color: #dddddd;
}
.signInButton {
    padding: 12px 20px;
    background-color: #db1e1e;
    color: white;
    border: none;
    border-radius: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 30px;
    margin-right: 40px;
    display: inline-block;
    text-align: center;
}

/* Alles zu der Tabelle */

.dataframe {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.dataframe th, .dataframe td {
    padding: 10px;
    text-align: center;
    border: 1px solid #d2d2d2;
    transition: transform 0.2s;
}
.dataframe th {
    background-color: rgb(216, 216, 216);
}
.dataframe tr:hover {
    background-color: #d0e9f9;
}
.dataframe td:hover {
    background-color: #b2e1fe;
    transform: scale(1.03);
    z-index: 1;
    transition: background-color 0.2s ease;
}
.table-container {
    width: 80%;
    margin: auto;
}